@font-face {
	font-family: "myfont";
	src: url("mkanaplus.woff") format("woff");
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	font-family: "myfont";
}
table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	white-space: nowrap;
}
th,td {
	font-size: 1.8rem;
	height: 6rem;
}
th.romaji {
	font-size: 1.4rem;
}
.center {
	text-align: center;
}